n8n/flujo-wa-entrada.json
{
  "name": "WhatsApp Entrada — Alcaldía Sopó",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-entrada",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Twilio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/whatsapp/mensaje",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            {
              "name": "from",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body.Body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-backend",
      "name": "Enviar al Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/TU_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "body": {
          "values": [
            {
              "name": "From",
              "value": "whatsapp:+573156277828"
            },
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.respuesta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-twilio-send",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "node-response",
      "name": "Respuesta HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Twilio": {
      "main": [
        [
          {
            "node": "Enviar al Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar al Backend": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Respuesta HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
