n8n/flujo-wa-entrada.json
{
  "name": "WA Entrada — Alcaldía Sopó",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-entrada",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Twilio Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/whatsapp/mensaje",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            { "name": "from", "value": "={{ $json.body.From }}" },
            { "name": "body", "value": "={{ $json.body.Body }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Procesar en Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $credentials.user }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "body": {
          "values": [
            { "name": "From", "value": "whatsapp:+573156277828" },
            { "name": "To", "value": "={{ $json.to }}" },
            { "name": "Body", "value": "={{ $json.respuesta }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Responder a Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Twilio Entrada": {
      "main": [[{ "node": "Procesar en Backend", "type": "main", "index": 0 }]]
    },
    "Procesar en Backend": {
      "main": [[{ "node": "Enviar Respuesta WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar Respuesta WhatsApp": {
      "main": [[{ "node": "Responder a Twilio", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
