n8n/flujo-recordatorios.json
{
  "name": "WA Recordatorios Diarios — Alcaldía Sopó",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Cron 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/whatsapp/recordatorios",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Obtener Recordatorios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Dividir mensajes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $credentials.user }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "body": {
          "values": [
            { "name": "From", "value": "whatsapp:+573156277828" },
            { "name": "To", "value": "={{ $json.to }}" },
            { "name": "Body", "value": "={{ $json.body }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Enviar Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron 7AM": {
      "main": [[{ "node": "Obtener Recordatorios", "type": "main", "index": 0 }]]
    },
    "Obtener Recordatorios": {
      "main": [[{ "node": "Dividir mensajes", "type": "main", "index": 0 }]]
    },
    "Dividir mensajes": {
      "main": [[{ "node": "Enviar Recordatorio", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
